# Core dependencies
fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
yt-dlp
transformers
sentence-transformers
torch
numpy
PyYAML

# Messaging and event streaming
kafka-python

# Utility and environment management
python-dotenv
google-api-python-client
boto3
prometheus-client

# Authentication and user management
fastapi-users
fastapi-users[sqlalchemy]
fastapi-users[redis]

# Instrumentation
prometheus-fastapi-instrumentator
passlib[bcrypt]  # Password hashing

# Database and migration
alembic
sqlmodel
pydantic
pydantic-settings

# Security
python-jose
bcrypt

# Client
streamlit
